{% extends "base.html" %}
{% block content %}
<div class="About u-container">

    <div class="u-marginTop--2ms
                u-marginBottom--2ms
                u-before1of6 u-size4of6 u-after1of6">
        <h4 class="u-marginBottom--1ms">About</h4>
        <p>
            FramerFlow is an editor which helps you to create prototypes
            without any limits on windows platform.
        </p>
        <section>
            <h5>Why does FramerFlow exist?</h5>
            <p>
                I love Framer.js but as an windows developer I could not
                find any good tool for Framer.js on Windows. There are
                someone like me on windows platform. So, for my personal use,
                , and also for someone, I made it.
            </p>
        </section>
        <section>
            <h5>When did FramerFlow start?</h5>
            <p>
                I started the code which became FramerFlow in the spring of 2015.
            </p>
        </section>
        <div style="min-height: 25vh"></div>
    </div>
</div>
{% endblock %}
