{% extends "base.html" %}
{% block content %}
<div class="About u-container">

    <div class="u-marginTop--2ms
                u-marginBottom--2ms
                u-before1of6 u-size4of6 u-after1of6">
        <h4 class="u-marginBottom--1ms">About</h4>
        <p>
            FramerFlow is an simple editor to help you creating beautiful
            prototypes. Prototyping is a proactive exploration to
            uncovered things.
            That is why, we believe, prototyping has a tremendous fun.
            We want to make it more enjoyable and manageable.
            That's why we has created <b>FramerFlow</b>.
        </p>
        <section>
            <p>
                We have some plans to bring cutting-edge exploration tools
                in coming releases.
                Please keep eyes on FramerFlow.
            </p>
        </section>
        <section>
            Happy prototyping.
        </section>
        <div style="min-height: 25vh"></div>
    </div>
</div>
{% endblock %}
