<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to fflowsite</title>

    <!-- For figwheel support -->
    <script type="text/javascript" src="/js/compiled/sample.js"></script>

    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=David+Libre|Open+Sans:400,800,700|Source+Code+Pro">
    <!-- styles -->
    {% style "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/screen.css" %}

    {% script "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %}

    {% block page-head %}
    {% endblock %}


</head>
<body>
<!-- navbar -->
<nav class="Nav u-container" role="navigation">
    <div class="Nav-logo">
        <img src="img/fflow_logo.png">
        <h5 class="Nav-title">FramerFlow</h5>
    </div>
    <div class="Nav-links">
        <a class="Nav-link LinkButton" href="/">HOME</a>
        <a class="Nav-link LinkButton" href="/docs">DOCS</a>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% if not no-footer %}
<footer class="Footer">
    <div class="Footer-layoutRoot u-container">
        <div class="Footer-company u-flex1">
            FiveFan.com | All Rights Reserved
        </div>
        <div class="Footer-links">
            <a class="Footer-link LinkButton" href="/docs">DOCS</a>
            <a class="Footer-link LinkButton"
                href="mailto://support@fivefan.com">CONTACT</a>
        </div>
    </div>
</footer>
{% endif %}

<!-- scripts -->
{% script "/assets/tether/dist/js/tether.min.js" %}

<script type="text/javascript">
    var context = "{{servlet-context}}";
</script>
{% block page-scripts %}
{% endblock %}
</body>
</html>
