<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <!-- For figwheel support -->
    {% if dev %}
    <script type="text/javascript" src="/js/compiled/sample.js"></script>
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Google fonts -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=David+Libre|Open+Sans:400,800,700|Source+Code+Pro">
    <!-- styles -->
    {% style "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/screen.css" %}

    {% script "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %}

    {% block page-head %}
    {% endblock %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77944344-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<!-- navbar -->
<nav class="Nav u-container" role="navigation">
    <div class="Nav-logo">
        <img src="img/fflow_logo.png">
        <h5 class="Nav-title">FramerFlow</h5>
    </div>
    <div class="Nav-links">
        <a class="Nav-link LinkButton" href="/">HOME</a>
        <a class="Nav-link LinkButton" href="/docs">DOCS</a>
        <a class="Nav-link LinkButton" href="/about">ABOUT</a>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% if not no-footer %}
<footer class="Footer">
    <div class="Footer-layoutRoot u-container">
        <div class="Footer-company u-flex1">
            FiveFan.com | All Rights Reserved
        </div>
        <div class="Footer-links">
            <a class="Footer-link LinkButton" href="/">HOME</a>
            <a class="Footer-link LinkButton" href="/docs">DOCS</a>
            <a class="Footer-link LinkButton" href="/about">ABOUT</a>
            <a class="Footer-link LinkButton"
               href="/contact">CONTACT</a>
        </div>
    </div>
</footer>
{% endif %}

<!-- scripts -->
{% script "/assets/tether/dist/js/tether.min.js" %}

<script type="text/javascript">
    var context = "{{servlet-context}}";
</script>
{% block page-scripts %}
{% endblock %}
</body>
</html>
