{% extends "base.html" %}
{% block content %}
<div class="Contact u-container">

    <div class="u-marginTop--2ms
                u-marginBottom--2ms
                u-before1of6 u-size4of6 u-after1of6">
        <h4 class="u-marginBottom--1ms">Contact</h4>


        <section>
            <p>
                For any issues, feedbacks or any short questions feel
                free to contact us on <a href="https://twitter.com/jaylee_fflow" target="_blank">Twitter</a>. You can reach us via email at <a href="mailto://jaylee@framerflow.com">jaylee@framerflow.com</a>
            </p>
        </section>
        <div style="min-height: 25vh"></div>
    </div>
</div>
{% endblock %}