{% extends "base.html" %}


{% block page-head %}
<meta content="FramerFlow Documentation" property="og:title">
<meta content="An editor for easy prototyping powered by Framer.js" name="description">


{% endblock %}

{% block content %}

<div class="Docs" role="flatdoc">
    <div class="Docs-layoutRoot u-container">
        <div class="Docs-menuBar menubar">
            <div class="u-container">
                <div class="Docs-menu" role="flatdoc-menu"></div>
            </div>
        </div>
        <div class="Docs-content
                    u-size3of4" role="flatdoc-content"></div>
    </div>
</div>

{% endblock %}

{% block page-scripts %}
<!-- Initializer -->
<script type='text/javascript' src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/legacy.js'></script>
<script type='text/javascript' src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/flatdoc.js'></script>

<!-- Flatdoc theme -->
<!--<link href='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/theme-white/style.css' rel='stylesheet'>-->
<script src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/theme-white/script.js'></script>
<script type="text/javascript" src="http://resources.framerflow.com/javascripts/lazyload.js"></script>

<script type="text/javascript">
    Flatdoc.run({
        fetcher: Flatdoc.file('/docs/readme.md')
    });
    $(document).on('flatdoc:ready', function() {
        $('.Docs-menu a').anchorjump();
        installLazyLoading();
    });
</script>
{% endblock %}