{% extends "base.html" %}


{% block page-head %}
<meta content="FramerFlow Documentation" property="og:title">
<meta content="An editor for easy prototyping powered by Framer.js" name="description">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block content %}

<div class="Docs" role="flatdoc">
    <div class="Docs-layoutRoot u-container
                u-md-before1of8 u-md-size6of8 u-md-after1of8
                u-sm-before1of8 u-sm-size6of8 u-sm-after1of8
                ">
        <div class="Docs-menuBar menubar">
            <div class="u-container">
                <div class="Docs-menu" role="flatdoc-menu"></div>
            </div>
        </div>
        <div class="Docs-content
                    u-size3of4
                    u-md-size2of2
                    u-sm-size2of2
                    " role="flatdoc-content"></div>
    </div>
</div>

{% endblock %}

{% block page-scripts %}
<!-- Initializer -->
<script type='text/javascript' src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/legacy.js'></script>
<script type='text/javascript' src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/flatdoc.js'></script>

<!-- Flatdoc theme -->
<!--<link href='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/theme-white/style.css' rel='stylesheet'>-->
<script src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/theme-white/script.js'></script>
<script type="text/javascript" src="/js/lazyload.js"></script>

<script type="text/javascript">
    var __readme = "{{readmeuri}}";
    Flatdoc.run({
        fetcher: Flatdoc.file(__readme)
    });
    $(document).on('flatdoc:ready', function () {
        $('.Docs-menu a').anchorjump();
        installLazyLoading();
    });
</script>
{% endblock %}