{% extends "base.html" %}

{% block page-head %}
<link href="http://vjs.zencdn.net/5.11.6/video-js.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="Hero u-container">
    <div class="Hero-title u-textAlignCenter">
        <h4>
            Framer.js<br class="u-md-hidden u-lg-hidden"/><i class="fa fa-heart Hero-loveIcon"
                                                             aria-hidden="true"></i><br
                class="u-md-hidden u-lg-hidden"/> Javascript<br class="u-md-hidden u-lg-hidden"/> on Windows
        </h4>
    </div>
    <div class="Hero-desc">
        A simple editor for happy prototyping with Framer.js on Windows
    </div>
    <div class="Hero-image u-sizeFull">
        <div class="Hero-imageLayoutRoot u-flexEmbed
                    u-size10of12
                    u-sm-size2of2
                    u-md-size2of2">
            <div class="u-flexEmbedRatio--4by3"></div>
            <div class="u-flexEmbedContent">
                <!--<img src="http://resources.framerflow.com/assets/main.jpg"-->
                <!--width="100%"/>-->
                <video id="my-video" class="Hero-video video-js"
                       loop
                       preload="auto"
                       autoplay
                       width="100%"
                       height="100%"
                       data-setup='{ "bigPlayButton": true}'>
                    <source src="https://stg.framerflow.com/media/sequence_04.mp4" type='video/mp4'>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
        </div>
    </div>
    <div class="Hero-download">
        <a class="Button Button--blue" href="https://goo.gl/forms/ihpkYoKaAx7RUAze2"
           target="_blank">REQUEST BETA (Windows 64bits Only)</a>
    </div>
</div>

<div class="Features">
    <div class="Features-layoutRoot u-container">
        <div class="Features-title u-sectionTitle">Features</div>
        <div class="Features-desc">We have some exciting features for your prototyping.</div>
        <div class="Features-items">
            {% for item in features %}
            <div class="FeatureItem
                        u-size1of4
                        u-md-size1of2
                        u-sm-size2of2
                        ">
                <div class="FeatureItem-photo u-sizeFull u-flexEmbed">
                    <div class="u-flexEmbedRatio
                                u-md-flexEmbedRatio--16by9
                                u-sm-flexEmbedRatio--3by1
                                "></div>
                    <div class="u-flexEmbedContent FeatureItem-photoImageContent"
                         style="background-image: {{item.img}}"></div>
                </div>
                <div class="FeatureItem-title">{{item.title}}</div>
                <div class="FeatureItem-desc">{{item.desc|safe}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="Features-learnMore">
            <a class="Button Button--blue" href="/docs">LEARN MORE</a>
        </div>
    </div>
</div>

<div class="Promotion">
    <div class="Promotion-layoutRoot u-container">
        <div class="Promotion-verbiage
                    u-size5of12 u-after1of12
                    u-sm-before1of8 u-sm-size6of8 u-sm-after1of8
                    u-md-before1of6 u-md-size4of6 u-md-after1of6
                    ">
            <div class="Promotion-title u-sectionTitle">FramerFlow for Windows</div>
            <p>
                FramerFlow provides a perfect environment to do prototyping on
                windows platform with Framer.js.
                Using coding and design inspection tool has a tremendous fun.
            </p>
            <p>
                Download today and start happy prototyping with FramerFlow.
            </p>
            <div class="Promotion-download">
                <a class="Button Button--blue" href="https://goo.gl/forms/ihpkYoKaAx7RUAze2"
                   target="_blank">REQUEST BETA (Windows 64bits Only)</a>
            </div>
        </div>
        <div class="u-size6of12 Promotion-photo
                    u-sm-size2of2
                    u-md-size2of2
                    ">
        </div>
    </div>
</div>

<script src="http://vjs.zencdn.net/5.11.6/video.js"></script>
{% endblock %}
