<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href="http://vjs.zencdn.net/5.11.6/video-js.css" rel="stylesheet">
    <!-- For figwheel support -->
    <script type="text/javascript" src="/js/compiled/sample.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.16.2/lodash.min.js"></script>
</head>
<body>

<div style="min-height: 250px;">
    test...test
</div>
<div style="min-height: 250px;">
    HAHAHA
</div>
<div style="min-height: 250px;"> p1</div>
<div style="min-height: 250px;"> p1</div>
<div style="min-height: 250px;"> p1</div>
<div style="min-height: 250px;"> p1</div>

<video id="my-video" class="AutoVideo video-js"
       loop controls preload="none"
       width="640"
       height="264"
       data-setup='{
        "bigPlayButton": false
       }'>
    <source src="https://stg.framerflow.com/media/eunsol00.mp4" type='video/mp4'>
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>

<div style="min-height: 250px;"> p1</div>
<div style="min-height: 250px;"> p1</div>
<script src="http://vjs.zencdn.net/5.11.6/video.js"></script>

<script type="text/javascript">
    (function () {
        var players = {};
        var numWaitingPlayers = 0;

        function playIfPossible(p) {
           p.play();
        }
        function pauseIfPossible(p) {
            p.pause();
        }
        function autoPlayOrStopVideos(curTop) {
            console.log("autoPlayOrStopVideos -- " + curTop);
            console.log("Num. players -- " + _.size(players));

            // Find maximum visible video players
            var p = _.chain(players)
                    .filter(function (p) {
                        var bbox = p.el().getBoundingClientRect();
                        return (bbox.top >= 0 && bbox.top < window.innerHeight)
                                || (bbox.bottom > 0 && bbox.bottom < window.innerHeight);
                    })
                    .maxBy(function (p) {
                        var bbox = p.el().getBoundingClientRect();
                        return Math.min(window.innerHeight, bbox.bottom) - Math.max(0, bbox.top);
                    })
                    .value();
            _.each(players,
                    function (pp) {
                        if (pp != p) {
                            pauseIfPossible(pp);
                        }
                    });

            if (!!p) {
                console.log("FOUND PLAYER");
                playIfPossible(p);
            }
        }
        autoPlayOrStopVideos = _.debounce(autoPlayOrStopVideos, 512);

        function onVideosReady() {
            console.log("All videos are ready");
            autoPlayOrStopVideos(document.body.scrollTop);
        }

        function initPlayers() {
            $(".AutoVideo").each(
                    function (_, v) {
                        var player = videojs(v.id);
                        numWaitingPlayers++;
                        player.ready(function () {
                            players[v.id] = player;
                            --numWaitingPlayers;
                            console.log("Player(" + v.id + ") ready...");

                            if (0 == numWaitingPlayers) {
                                onVideosReady();
                            }
                        });
                    }
            );
        }

        $(function () {
            initPlayers();
        });


        $(window).on("scroll", function () {
            autoPlayOrStopVideos(document.body.scrollTop);
        });

    })();


</script>
</body>
</html>


