/fflowsite/target
/fflowsite/lib
/fflowsite/classes
/fflowsite/checkouts
/fflowsitepom.xml
*.jar
*.class
/fflowsite/.lein-*
/fflowsiteprofiles.clj
/fflowsite/.env
/fflowsite.nrepl-port
/fflowsite/log
/fflowsite/.idea
*.swp
